
@font-face {
font-family: "Trade Gothic Condensed";
font-style: normal;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_normal_400.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: normal;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_normal_400.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: italic;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_italic_400.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: italic;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_italic_400.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: normal;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_normal_700.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: normal;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_normal_700.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: italic;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_italic_700.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic Condensed";
font-style: italic;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_italic_700.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic";
font-style: normal;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_normal_400.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic";
font-style: normal;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_normal_400.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic";
font-style: italic;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_italic_400.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic";
font-style: italic;
font-weight: 400;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_italic_400.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic";
font-style: normal;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_normal_700.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic";
font-style: normal;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_normal_700.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic";
font-style: italic;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_italic_700.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic";
font-style: italic;
font-weight: 700;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_italic_700.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic";
font-style: normal;
font-weight: 300;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_normal_300.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic";
font-style: normal;
font-weight: 300;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_normal_300.woff') format('woff');
}

@font-face {
font-family: "Trade Gothic";
font-style: italic;
font-weight: 300;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_italic_300.woff2') format('woff2');
}

@font-face {
font-family: "Trade Gothic";
font-style: italic;
font-weight: 300;
font-display: fallback;
src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic_italic_300.woff') format('woff');
}

@font-face {
    font-family: "Trade Gothic Bold Condensed";
    font-display: swap;
    src: url("https://mitre-engenuity.org/wp-content/uploads/et-fonts/TradeGothicLTPro-BdCn20.otf") format("opentype")
}

@font-face {
    font-family: "Trade Gothic LT Pro";
    font-display: swap;
    src: url("https://mitre-engenuity.org/wp-content/uploads/et-fonts/TradeGothicLTPro.otf") format("opentype")
}

@font-face {
    font-family: "Trade Gothic LT Pro Condensed";
    font-display: swap;
    src: url("https://mitre-engenuity.org/wp-content/uploads/et-fonts/TradeGothicLTPro-Cn18.otf") format("opentype")
}

@font-face {
    font-family: "Trade Gothic Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('https://mitre-engenuity.org/wp-content/themes/divi-child/assets/fonts/trade-gothic-condensed_normal_400.woff2') format('woff2');
}

div.document {
    width: 90%;
    /* width: 1000px; */
}

div.body {
    max-width: 1000px;
}

div.body h1, div.body h2, div.body h3 {
  font-weight: bold;
  color: #0B2338;
}

div.body h4 {
  color: #005b94;
}

a {
    color: #0096d1!important;
}

div.sphinxsidebar h3 {
    color: #0B2338;
}

div.sphinxsidebar h3 {
    font-weight: bold;
}
div.sphinxsidebar input {
    border: 1px solid #ddd;
    background: #FFF;
}

div.sphinxsidebar #searchbox input[type="submit"] {
    color: #FFFFFF;
    background: #005b94;
}

div.sphinxsidebarwrapper p.blurb {
    margin-top: 10px;
}

span.caption-text {
    font-weight: bold;
    font-family: 'Trade Gothic Bold Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30.6px;
    margin: 30px 0px 10px 0px;
}

div.admonition-tip.admonition {
    background: #C2EAF6;
    border: none;
}

div.admonition-quote.admonition {
    background: #BCA9DD;
    border: none;
}

div.body p {
    line-height: 30px!important;
}

@media screen and (max-width: 875px) {

    div.sphinxsidebar {
        background: #2A1972;
        color: #FFF;
    }

    div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar p,
    div.sphinxsidebar h3 a {
        color: #fff;
    }

    div.sphinxsidebar a {
        color: #C2EAF6;
    }
}
